.navtitle {
    width: 100%;
    display: flex;
    padding: 0 20px;
    margin: 0;
    justify-content: center;
    position: relative;
    align-items: center;
        &__nav {
            display: flex;
            position: absolute;
            left: 20px;
                &back {
                    color: black;
                    display: flex;
                    text-decoration: none;                    
                }           
        }
        &__logo {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            img {
                max-width: 65%;
            }
        }
}
.homepage {
    .navtitle__nav {
        display: none;
    }
}