.location__buttoncontainer {
    width: 100%;
    text-align: center;
    background-color: $color-back;
    padding: 20px 0 80px 0;
    a {
        @include btn;

        &:hover {
            @include btn-hover;
        }
    }
}